<h2>Vendeurs</h2>

<ul class="vendeurs" *ngFor="let vendeur of vendeurs">
  <a routerLink="/detail/{{vendeur.id}}">
    <span class="badge">{{vendeur.id}}: </span> {{vendeur.name}}
  </a>
  <button class="delete" title="delete vendeur" (click)="delete(vendeur)">X</button>
</ul>

<div>
  <label for="new-vendeur">Nom vendeur: </label>
  <input id="new-vendeur" #vendeurName />

  <button class="add-button" (click)="add(vendeurName.value); vendeurName.value=''">
    Ajouter vendeur
  </button>
</div>